# Feature Engineering

In [1]:
import sys
import os
sys.path.append('../scripts')
from data_loader import *
from feature_engineering import *

## Load Dataset

In [2]:
# path to the CSV file
filename = 'cleaned_df.parquet'
path = os.path.join('..', 'data/processed', filename)

# Load dataset
cleaned_df = load_data(path)

In [3]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95393 entries, 0 to 95661
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95393 non-null  object
 1   BatchId               95393 non-null  object
 2   AccountId             95393 non-null  object
 3   SubscriptionId        95393 non-null  object
 4   CustomerId            95393 non-null  object
 5   CurrencyCode          95393 non-null  object
 6   CountryCode           95393 non-null  int64
 7   ProviderId            95393 non-null  object
 8   ProductId             95393 non-null  object
 9   ProductCategory       95393 non-null  object
 10  ChannelId             95393 non-null  object
 11  Amount                95393 non-null  float64
 12  Value                 95393 non-null  int64
 13  TransactionStartTime  95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy       95393 non-null  int64
 15  FraudResult           95393 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(10)
memory usage: 12.4+ MB

## Create Aggregate Features

In [4]:
processed_data = create_aggregate_features(cleaned_df)
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  object
 1   BatchId                   95393 non-null  object
 2   AccountId                 95393 non-null  object
 3   SubscriptionId            95393 non-null  object
 4   CustomerId                95393 non-null  object
 5   CurrencyCode              95393 non-null  object
 6   CountryCode               95393 non-null  int64
 7   ProviderId                95393 non-null  object
 8   ProductId                 95393 non-null  object
 9   ProductCategory           95393 non-null  object
 10  ChannelId                 95393 non-null  object
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  int64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  int64
 15  FraudResult               95393 non-null  int64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  int64
 19  StdTransactionAmount      94691 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(4), int64(5), object(10)
memory usage: 14.6+ MB

## Extract Time Features

In [5]:
processed_data = extract_time_features(processed_data)

In [6]:
processed_data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TransactionCount,StdTransactionAmount,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,...,2,0,1000.00,500.000000,2,0.000000,2,15,11,2018
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018

In [7]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  object
 1   BatchId                   95393 non-null  object
 2   AccountId                 95393 non-null  object
 3   SubscriptionId            95393 non-null  object
 4   CustomerId                95393 non-null  object
 5   CurrencyCode              95393 non-null  object
 6   CountryCode               95393 non-null  int64
 7   ProviderId                95393 non-null  object
 8   ProductId                 95393 non-null  object
 9   ProductCategory           95393 non-null  object
 10  ChannelId                 95393 non-null  object
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  int64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  int64
 15  FraudResult               95393 non-null  int64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  int64
 19  StdTransactionAmount      94691 non-null  float64
 20  TransactionHour           95393 non-null  int32
 21  TransactionDay            95393 non-null  int32
 22  TransactionMonth          95393 non-null  int32
 23  TransactionYear           95393 non-null  int32
dtypes: datetime64[ns, UTC](1), float64(4), int32(4), int64(5), object(10)
memory usage: 16.0+ MB

## Encode Categorical Variables

In [8]:
processed_data = encode_categorical_variables(processed_data)

In [9]:
processed_data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TransactionCount,StdTransactionAmount,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,77920,46849,2476,3517,2569,0,256,5,1,0,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
1,75597,31670,3203,2354,2569,0,256,3,19,2,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
2,39772,60107,2699,994,2791,0,256,5,0,0,...,2,0,1000.00,500.000000,2,0.000000,2,15,11,2018
3,48595,1792,3335,972,3714,0,256,0,11,8,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018
4,41241,48807,3203,2354,3714,0,256,3,19,2,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018

In [10]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  int32
 1   BatchId                   95393 non-null  int32
 2   AccountId                 95393 non-null  int32
 3   SubscriptionId            95393 non-null  int32
 4   CustomerId                95393 non-null  int32
 5   CurrencyCode              95393 non-null  int32
 6   CountryCode               95393 non-null  int64
 7   ProviderId                95393 non-null  int32
 8   ProductId                 95393 non-null  int32
 9   ProductCategory           95393 non-null  int32
 10  ChannelId                 95393 non-null  int32
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  int64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  int64
 15  FraudResult               95393 non-null  int64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  int64
 19  StdTransactionAmount      94691 non-null  float64
 20  TransactionHour           95393 non-null  int32
 21  TransactionDay            95393 non-null  int32
 22  TransactionMonth          95393 non-null  int32
 23  TransactionYear           95393 non-null  int32
dtypes: datetime64[ns, UTC](1), float64(4), int32(14), int64(5)
memory usage: 12.4 MB

## Handle Missing Values

In [11]:
processed_data = handle_missing_values(processed_data)

In [12]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95393 entries, 0 to 95392
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TransactionId             95393 non-null  float64
 1   BatchId                   95393 non-null  float64
 2   AccountId                 95393 non-null  float64
 3   SubscriptionId            95393 non-null  float64
 4   CustomerId                95393 non-null  float64
 5   CurrencyCode              95393 non-null  float64
 6   CountryCode               95393 non-null  float64
 7   ProviderId                95393 non-null  float64
 8   ProductId                 95393 non-null  float64
 9   ProductCategory           95393 non-null  float64
 10  ChannelId                 95393 non-null  float64
 11  Amount                    95393 non-null  float64
 12  Value                     95393 non-null  float64
 13  TransactionStartTime      95393 non-null  datetime64[ns, UTC]
 14  PricingStrategy           95393 non-null  float64
 15  FraudResult               95393 non-null  float64
 16  TotalTransactionAmount    95393 non-null  float64
 17  AverageTransactionAmount  95393 non-null  float64
 18  TransactionCount          95393 non-null  float64
 19  StdTransactionAmount      95393 non-null  float64
 20  TransactionHour           95393 non-null  float64
 21  TransactionDay            95393 non-null  float64
 22  TransactionMonth          95393 non-null  float64
 23  TransactionYear           95393 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(23)
memory usage: 17.5 MB

## Normalize/Standardize Numerical Features

In [13]:
processed_data = normalize_and_standardize_numerical_features(processed_data)

In [14]:
processed_data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TransactionCount,StdTransactionAmount,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,1.097554,-0.015739,0.152495,1.668598,0.595592,0.0,0.0,1.025586,-1.579657,-0.797775,...,-0.352001,-0.014114,0.189932,-0.160503,-0.312141,-0.494065,-2.155000,-0.101329,0.848594,-0.994095
1,1.013197,-0.571710,0.866893,0.345454,0.595592,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.189932,-0.160503,-0.312141,-0.494065,-2.155000,-0.101329,0.848594,-0.994095
2,-0.287752,0.469870,0.371629,-1.201817,0.808675,0.0,0.0,1.025586,-1.718179,-0.797775,...,-0.352001,-0.014114,0.184840,-0.198738,-0.445132,-0.783585,-2.155000,-0.101329,0.848594,-0.994095
3,0.032646,-1.666070,0.996605,-1.226846,1.694602,0.0,0.0,-2.804723,-0.194446,4.365238,...,-0.352001,-0.014114,0.195487,0.299301,-0.404212,0.850329,-1.948696,-0.101329,0.848594,-0.994095
4,-0.234407,0.055978,0.866893,0.345454,1.694602,0.0,0.0,-0.506537,0.913723,0.492978,...,-0.352001,-0.014114,0.195487,0.299301,-0.404212,0.850329,-1.948696,-0.101329,0.848594,-0.994095

## Save the the processed dataset

In [15]:
# Define output folder and file name
output_folder = os.path.join('..', 'data', 'featured')
filename = 'featured_df.parquet'

output_path = save_data(processed_data, output_folder, filename)

Dataset saved to ..\data\featured\featured_df.parquet